<br>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fas fa-search"></i></span>
  </div>
  <!-- Update the method name to match the TypeScript file -->
<input type="text" class="form-control" [(ngModel)]="filtroNombre" placeholder="Filtrar por nombre" (input)="filtrar()">
</div>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Laboratorio de Fabrica</th>
        <th scope="col">Fecha de Fabricacion</th>
        <th scope="col">Fecha de Vencimiento</th>
        <th scope="col">Stock</th>
        <th scope="col">Valor Unitario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inventario of inventarios">
        <td>{{inventario.id}}</td>
        <td>{{inventario.nombre}}</td>
        <td>{{inventario.laboratorioFabrica}}</td>
        <td>{{inventario.fechaFabricacion | date:'dd/MM/yyyy'}}</td>
        <td>{{inventario.fechaVencimiento | date:'dd/MM/yyyy'}}</td>
        <td>{{inventario.stock}}</td>
        <td>${{inventario.valorUnitario}}</td>
        <td><button class="btn btn-outline-primary"><i class="fas fa-dollar-sign"></i> Vender</button></td>
        <td><button class="btn btn-outline-warning" routerLink="/editar/{{inventario.id}}"><i class="far fa-edit"></i> Editar</button></td>
        <td><button class="btn btn-outline-danger" (click)="borrar(inventario.id)"><i class="far fa-trash-alt"></i> Eliminar</button></td>
      </tr>
    </tbody>
  </table>

 
